<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/hotels" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/hotelform" routerLinkActive="active">Hotel Form</a>
    </li>
  </ul>
</nav>

<button class="create-room-button">
  <a [routerLink]="['/hotels', hotel?.id, 'roomform']" routerLinkActive="active"
    >Create Room</a
  >
</button>
<div *ngIf="hotel">
  <button class="back-button" (click)="goBack()">Go Back</button>
  <div *ngFor="let room of hotel.rooms" class="room-item">
    <h3 class="room-name">Name: {{ room.name }}</h3>
    <p class="room-description">Description: {{ room.description }}</p>
    <img class="room-image" src="{{ room.image }}" alt="{{ room.id }}" />
    <p class="room-price">Price: {{ room.price }}$ per Day</p>
    <p class="room-people">Total People: {{ room.people }}</p>
    <p class="room-children">Total Children: {{ room.children }}</p>
    <p class="room-amenities">Amenities: {{ room.amenities }}</p>
    <p class="room-availability" [appAvailabilityColor]="room.isAvailable">
      Availability: {{ room.isAvailable ? "Available" : "Not Available" }}
    </p>
    <button (click)="onDelete(room.id, hotel.id)" class="delete-button">
      Delete
    </button>
  </div>
</div>
