<div *ngIf="hotel; else notFound">
  <div *ngFor="let room of hotel.rooms">
    <h3>Name: {{ room.name }}</h3>
    <p>Description: {{ room.description }}</p>
    <img src="{{ room.image }}" alt="{{ room.id }}" />
    <p>Price: {{ room.price }}$ per Day</p>
    <p>Total People: {{ room.people }}</p>
    <p>Total Children: {{ room.children }}</p>
    <p>Amenities: {{ room.amenities }}</p>
    <p appAvailabilityColor>
      Availability: {{ room.isAvailable ? "Available" : "Not Available" }}
    </p>
  </div>
</div>

<ng-template #notFound> Hotel not found </ng-template>
