<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/hotels" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/hotelform" routerLinkActive="active">Hotel Form</a>
    </li>
  </ul>
</nav>


<div *ngFor="let hotel of hotel$ | async" class="hotel-card">
  <a [routerLink]="['/hotels', hotel.id]" class="hotel-name">{{
    hotel.name
  }}</a>
  <p class="hotel-location">
    Location: {{ hotel.address }} | {{ hotel.city }} | {{ hotel.country }}
  </p>

  <div class="hotel-rating">
    <h4>
      Rating:
      <p class="rate">{{ getStarRatingSymbol(hotel.stars) }}</p>
    </h4>
  </div>
  <img src="{{ hotel.image }}" alt="{{ hotel.id }}" class="hotel-image" />

  <button (click)="onEdit(hotel.id)" class="edit-button">Edit</button>
  <button (click)="onDelete(hotel.id)" class="delete-button">Delete</button>
</div>
